.navigator{
    display: flex;
}

.navigatorContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mainResponse{
    height: 91vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.mainResponse::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 600px){
    .navigatorContainer{
        width: 100%;
        margin-left: 0px;
        z-index: 10;
    }
    .navigatorContainer.show{
        width: 100%;
        margin-left: -250px;
        z-index: 10;
    }
}