.listContainer,
.listHeaderContainer{
    height: 40px;
    display: grid;
    grid-template-columns: .3fr 1.5fr 2fr;
    padding-left: 10px;
    border-bottom: 1px solid #0003;
    background-color: #fff;
    font-size: .9rem;
    color: #000000e0;
}
.listHeaderContainer{
    font-weight: 600;
    /* background-color: #3d98ccb2; */
    color: #000;
}
.listHeaderContainer p,
.listContainer p{
    height: 100%;
    display: flex;
    align-items: center;
    font-size: .8rem;
}
.listContainer:nth-child(even){
    background-color: #f5f5f5;
}


.dashboardContainer{
    padding: 20px;
    padding-top: 50px;
    height: 100vh;
    width: 100%;
    background-color: #ECF0F5;
    display: flex;
    /* align-items: flex-start; */
    text-align: start;
    flex-direction: column;
    justify-content: center;
}
.dashboardContainer h1{
    font-weight: 100;
    font-size: 1.7rem;
    color: #000000e0;
}
.dashboardData{
    height: 100%;
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.dashboardList{
    height: 90%;
    width:550px;
    padding: 20px 30px;
    background-color: #fff;
    margin: 0 10px;
    overflow-y: scroll;

}
.dashboardList h3{
    line-height: 80px;
    font-weight: 100;
    color: #0009;
    font-size: 1.4rem;
}

.dashboardDetails{
    height: 100%;
}
.dashboardDetails>h1{
    height: 40px;
    width: 100%;
    background-color: #00000009;
    font-size: .8rem;
    opacity: .7;
    line-height: 40px;
    padding-left: 10px;
}
.listEmp{
    position: relative;
    height: 80%;
    overflow-y: scroll;

}

@media screen and (max-width: 1300px) {
    .dashboardData{
        display: flex;
        flex-direction: column !important;
        align-items: center;
        
    }
    .dashboardContainer{
        background: linear-gradient(#ECF0F5, transparent);
        
    }
    .dashboardList{
        margin: 10px 0;
    }
}